.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.quiz {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.quiz button, .submit {
  background-color: rgb(64, 73, 112);
  color: aliceblue;
  font-size: 1.5rem;
  padding: 10px 50px 10px 50px;
  margin-top: 20px;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0px 2px rgb(32, 32, 32);
  transition: box-shadow 0.5s ease;
}

.quiz button:hover, .submit:hover {
  box-shadow: 0px 2px rgb(32, 32, 32),
  inset 0px 8px rgb(15, 17, 20);
  cursor: pointer;
}

.submit {
  margin-top: 0px;
  padding: 10px  20px 10px 20px;
  font-size: 1rem;
}

.actionBox {
  margin: 20px 0px 20px 0px;
}

.actionBox button {
  margin: 0px 10px 0px 10px;
}

.card p {
  text-align: center;
  margin-bottom: 20px;
  
}

.card img {
  width: 400px;
  height: 200px;
  object-fit: contain;
  border-width: 0px;
}

.formBox {
  background-color: rgb(66, 67, 71);
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
}

.formBox * {
  margin: 0px 5px 0px 5px;
}

.formBox input {
  border-radius: 20px;
}


/* Card flipping area */
.card {
  width: 500px;
  height: 300px;
  background-color: transparent;
  perspective: 1000px;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(66, 67, 71);
  box-shadow: 0px 0px 10px rgb(32, 32, 32);
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  backface-visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flipCardFront{
  background-color: antiquewhite;
  border-radius: 10px;
  transform: rotateY(180deg);
}

.flipCardBack {
  background-color: antiquewhite;
  border-radius: 10px;
}


